{
  "singleQuote": true,
  "plugins": [
    "@trivago/prettier-plugin-sort-imports",
    "prettier-plugin-tailwindcss"
  ],
  "tailwindConfig": "./tailwind-workspace-preset.js",
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "importOrder": [
    "^@phab/libs/(.*)$",
    "^@phab/apps/(.*)$",
    "^@phab/(.*)$",
    "^[./]"
  ]
}
